.addGame_wrapper {
  padding: 20px 20px 20px 40px;
  width: 480px;
}

.addGame_wrapper h2 {
  margin: 0px 0px 30px 0px;
  border-bottom: 1px solid #dbdbdb;
  color: #414141;
  font-size: 40px;
}

.addGame_wrapper button {
  font-size: 20px;
}

.addGame_grouping {
  margin-bottom: 50px;
}

.addGame_grouping2 {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.addGame_label {
  font-size: 20px;
  margin: 10px 0px;
  font-weight: 300;
  background: #e5f4ff;
  padding: 10px;
  display: inline-block;
}

.addGame_score {
  width: 150px;
}

.addGame_formSubmit {
  color: darkblue;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;  /*height=lineHeight vertically centers*/
  padding-left: 25px;
}