.admin_loading {
  text-align: center;
  margin: 50px 0px 0px 0px;
}

.admin_editMsg {
  font-size: 20px;
  font-style: italic;
  padding: 20px 0px 20px 24px;
}

.admin_winResult {
  font-weight: 700;
  color: #4CAF50;
}

.admin_lossResult {
  font-weight: 700;
  color: #F44336;
}

.admin_otherResult {
  font-weight: 700;
  color: #353535;
}

/*##########################################*/

.addEditGame_wrapper {
  padding: 20px 20px 20px 40px;
  width: 480px;
}

.addEditGame_wrapper h2 {
  margin: 0px 0px 30px 0px;
  border-bottom: 1px solid #dbdbdb;
  color: #414141;
  font-size: 40px;
}

.addEditGame_wrapper button {
  font-size: 20px;
}

.addEditGame_grouping {
  margin-bottom: 50px;
}

.addEditGame_grouping2 {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.addEditGame_label {
  font-size: 20px;
  margin: 10px 0px;
  font-weight: 300;
  background: #e5f4ff;
  padding: 10px;
  display: inline-block;
}

.addEditGame_score {
  width: 150px;
}

.addEditGame_formSubmit {
  color: darkblue;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;  /*height=lineHeight vertically centers*/
  padding-left: 25px;
}