.admin_container {
  margin-top: 82px;
  min-height: 100vh;
  display: flex;
}

.admin_left {
  background: #282828;
  display: flex;
  flex-direction: column;
  
  /*sticky sidebar*/
  position: fixed;
  top: 82px;
  height: 100%;
}

.admin_NavLink {
  color: white;
  border-bottom: 1px solid #4b4b4b;
  padding: 15px;
}
.admin_NavLink:hover {
  background: black;
}

.admin_right {
  flex-grow: 1;
  margin-left: 106px;  /*move out of the way*/
}