.featured_wrapper {
  margin-top: 80px;  /*aligns the div just below header*/
  height: 89vh;
  overflow: hidden;
}

/*###########################################*/

.featured_stripes {
  position: relative;
}
.stripe {
  position: absolute;
  width: 16%;     /*230px*/
  height: 1200px; /*1200px*/
}

/*###########################################*/

.imgsText_container {
  position: relative;
  font-family: 'Righteous', cursive;
  height: 100%;
  margin: 0 auto;
}

.imgsText_hrockets_wrapper {
  width: 100%;
  padding-top: 70px;
}
.imgsText_hrockets {
  width: 52%;
  margin: 0 auto;
  text-align: center;
  font-size: 4.5vw;
  font-style: italic;
  border-radius: 10px;
  color: white;
  background: black;
}
@media (max-width: 499px) {
  .imgsText_hrockets {
    font-size: 4.5vh;
  }
}

/* put div at bottom of imgsText_container */
.imgsText_players {
  width: 100%;
  height: 65%;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.imgsText_players img {
  height: 100%;
}
.player1 {
  margin-right: 8%;
}