footer {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  padding: 30px 0px;

  /*hides sidebar parts that go over footer, in conjunction with css in adminLayout*/
  position: absolute; 
  width: 100%;
}

.footer_wrapper {
  background: black;
}

.footer_wrapper .img_wrapper {
  margin: 0 auto;  /*center it*/
}

.footer_description {
  margin: 20px 0px 10px 0px;
}