.login_main {
  margin-top: 130px;
}

.login_center {
  width: 85%;
  margin: 0 auto;
}

.login_contents {
  padding: 0px;
  min-height: 75vh;
  text-align: center;
}
.login_contents h2 {
  font-family: "Roboto";
  color: black;
  font-size: 50px;
  margin: 0px 0px 40px 0px;
}
.login_contents form {
  width: 350px;
  margin: 0 auto;
}
.login_contents button {
  width: 100%;
  padding: 10px;
}

.formSubmit_label {
  color: darkblue;
  font-weight: 600;
  margin: 10px 0px;
}